.description-card-content {
    width: 420px;
    height: 170px;
    box-sizing: border-box;
    border: 1px solid #FF802A;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description-card-content .description-card-title {
    font-size: 30px;
    color: #FF802A;
    text-align: left;
    line-height: 30px;
}
.description-card-content .description-card-value {
    width: 380px;
    height: 80px;
    font-size: 18px;
    color: #FFFFFF;
    border: 1px solid #2c2c2c;
    overflow: auto;
    text-align: left;
}

.description-card-content .description-card-value::-webkit-scrollbar {
    display: none;
}
