.xb-all-dashboard-content {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.xb-all-dashboard-content .content-header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.xb-all-dashboard-content .content-header .logo {
    height: 100px;
    width: 220px;
}
.xb-all-dashboard-content .content-header .logo img {
    height: 100%;
    width: 100%;
}
.xb-all-dashboard-content .content-header .title {
    font-size: 43px;
    line-height: 100px;
    width: calc(1920px - 500px);
    text-align: center;
    color: #222222;
    box-sizing: border-box;
}
.xb-all-dashboard-content .content-header .time {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 10px;
}
.xb-all-dashboard-content .content-header .time .time-date {
    font-size: 30px;
    line-height: 40px;
    color: #222222;
}
.xb-all-dashboard-content .content-header .time .time-week-time {
    font-size: 42px;
    line-height: 50px;
    color: #222222;
}

.xb-all-dashboard-content .content-body {
    height: calc(1080px - 100px);
    width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.xb-all-dashboard-content .content-body .content-body-left {
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.xb-all-dashboard-content .content-body .content-body-left .information-table {
    width: 100%;
    height: 300px;
}
.xb-all-dashboard-content .content-body .content-body-left .information-table table {
    width: 100%;
    height: 300px;
}
.xb-all-dashboard-content .content-body .content-body-left .information-table table .information-table-list {
    height: calc(300px / 8);
}
.xb-all-dashboard-content .content-body .content-body-left .information-table table .information-table-list .information-table-item {
    font-size: 1.2em;
}
.information-table-list:nth-child(1) .information-table-item:nth-child(2),.information-table-list:nth-child(1) .information-table-item:nth-child(4) {
    width: calc(1500px / 3);
}
.information-table-list:nth-child(1) .information-table-item:nth-child(1),.information-table-list:nth-child(1) .information-table-item:nth-child(3) {
    width: calc(1500px / 6);
}
.information-table-list:nth-child(6) .information-table-item {
    width: calc(1500px / 6);
}
.information-staff-item:nth-child(1), .information-staff-item:nth-child(3) {
    font-weight: bold;
}
.information-staff-item:nth-child(2), .information-staff-item:nth-child(4) {
    font-weight: bold;
    color: red;
}
.information-table-list:nth-child(6) .information-table-item:nth-child(2) {
    color: darkred;
    font-weight: bold;
}
.information-table-list:nth-child(6) .information-table-item:nth-child(4) {
    color: green;
    font-weight: bold;
}
.information-table-list:nth-child(6) .information-table-item:nth-child(6) {
    color: darkblue;
    font-weight: bold;
}
.information-table-list:nth-child(7) .information-table-item:nth-child(2) {
    color: darkblue;
    font-weight: bold;
}
.information-table-list:nth-child(7) .information-table-item:nth-child(4) {
    color: darkblue;
    font-weight: bold;
}
.information-table-list:nth-child(7) .information-table-item:nth-child(6) {
    color: darkblue;
    font-weight: bold;
}
.information-table-list:nth-child(8) .information-table-item:nth-child(2) {
    color: coral;
    font-weight: bold;
}
.information-table-list:nth-child(8) .information-table-item:nth-child(4) {
    color: orangered;
    font-weight: bold;
}
.information-table-list:nth-child(8) .information-table-item:nth-child(6) {
    color: darkblue;
    font-weight: bold;
}

.xb-all-dashboard-content .content-body .content-body-left .inp-out-table {
    width: 100%;
    height: 200px;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table {
    width: 100%;
    height: 200px;
    font-weight: bold;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table tr th:nth-child(1) {
    width: 200px;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table .inp-out-table-timer-list .inp-out-table-timer-item {
    color: mediumpurple;
    height: 60px;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table .inp-out-table-target-list .inp-out-table-target-item  {
    color: dodgerblue;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table .inp-out-table-input-list .inp-out-table-input-item  {
    color: coral;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table .inp-out-table-output-list .inp-out-table-output-item  {
    color: forestgreen;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table .inp-out-table-useless-list .inp-out-table-useless-item  {
    color: orangered;
}
.xb-all-dashboard-content .content-body .content-body-left .inp-out-table table .inp-out-table-percent-list .inp-out-table-percent-item  {
    color: deeppink;
}

.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-output-canvas-content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-output-canvas-content .g2-output-canvas-title {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    height: 40px;
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-output-canvas-content .g2-output-canvas-description {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-output-canvas-content .g2-output-canvas-canvas {
    height: 340px;
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-finish-canvas-content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-finish-canvas-content .g2-finish-canvas-title {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    height: 40px;
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-finish-canvas-content .g2-finish-canvas-description {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}
.xb-all-dashboard-content .content-body .content-body-left .g2-output-finish-canvas-content .g2-finish-canvas-content .g2-finish-canvas-canvas {
    height: 340px;
}

.xb-all-dashboard-content .content-body .content-body-right {
    width: 400px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-plan-pie-canvas-content {
    display: flex;
    flex-direction: column;
    height: 390px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-plan-pie-canvas-content .g2-plan-pie-canvas-title {
    text-align: left;
    font-size: 1.8em;
    line-height: 36px;
    height: 36px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-plan-pie-canvas-content .g2-plan-pie-canvas-description {
    text-align: left;
    font-size: 1.2em;
    height: 14px;
    line-height: 14px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-plan-pie-canvas-content .g2-plan-pie-canvas-canvas {
    display: flex;
    flex-direction: column;
    height: 340px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-quality-pie-canvas-content {
    display: flex;
    flex-direction: column;
    height: 390px;
    margin-top: 10px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-quality-pie-canvas-content .g2-quality-pie-canvas-title {
    text-align: left;
    font-size: 1.8em;
    line-height: 36px;
    height: 36px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-quality-pie-canvas-content .g2-quality-pie-canvas-description {
    text-align: left;
    font-size: 1.2em;
    height: 14px;
    line-height: 14px;
}
.xb-all-dashboard-content .content-body .content-body-right .g2-quality-pie-canvas-content .g2-quality-pie-canvas-canvas {
    display: flex;
    flex-direction: column;
    height: 340px;
}
.xb-all-dashboard-content .content-body .content-body-right .product-information-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.xb-all-dashboard-content .content-body .content-body-right .product-information-content .product-information-item {
    display: flex;
    flex-direction: row;
}
.xb-all-dashboard-content .content-body .content-body-right .product-information-content .product-information-item .product-information-title {
    width: 40%;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
}
.xb-all-dashboard-content .content-body .content-body-right .product-information-content .product-information-item .product-information-value {
    width: 60%;
    text-align: left;
    margin-left: 10px;
    font-size: 1.4em;
    font-weight: bold;
}
